<a href="https://colab.research.google.com/github/saraHuang/LLM_study/blob/main/LangChain_%E7%AF%87_%E6%89%8B%E6%8A%8A%E6%89%8B%E5%BB%BA%E7%AB%8B_Data_Agent.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ğŸ¥± LangChain ç¯‡_æ‰‹æŠŠæ‰‹å»ºç«‹ Data Agent

â¤ï¸ Created by [hengshiousheu](https://huggingface.co/Heng666).

# æ•´é«”æ¦‚å¿µ

æœ¬ç­†è¨˜æœ¬ç”¨æ–¼äº¤å”®ç¬¬ä¸€æ¬¡æ¥è§¸å¤§å‹èªè¨€æ¨¡å‹é–‹ç™¼è€…ï¼Œå¦‚ä½•é€é LangChain å·¥å…·ä¾†å»ºæ§‹è‡ªå·±çš„ LLM æ‡‰ç”¨ç¨‹å¼é–‹ç™¼ã€‚æœ¬ç¯„ä¾‹çµ‚å°‡æä¾›ä»¥ä¸‹ä»¥å¹¾å€‹ä½¿ç”¨ç¯„ä¾‹ï¼š

1. `å»ºæ§‹ Text2SQL`: åŸºæ–¼ä½¿ç”¨è€…è‡ªç„¶èªè¨€è½‰æ›æˆ SQL ç”¨èª
2. `æŸ¥è©¢ SQL è³‡æ–™åº«`: å»ºæ§‹å°ˆå±¬ Chain é”æˆè‡ªç„¶èªè¨€ç›´æ¥æ“ä½œè³‡æ–™åº«
3. `èˆ‡ SQLDB Agent äº’å‹•`: ä½¿ç”¨ Agner é€²è¡Œå—†å¤§ä¸”å…·å‚™å½ˆæ€§çš„æ“ä½œã€‚

![sql_usecase.png](https://github.com/langchain-ai/langchain/blob/master/docs/static/img/sql_usecase.png?raw=1)åœ–ç‰‡å–è‡ª: LangChain SQL_usecase å®˜ç¶²

# ä½¿ç”¨æ¡ˆä¾‹èªªæ˜

é€šå¸¸ï¼Œä¼æ¥­è³‡æ–™é€šæ˜¯å­˜æ”¾åœ¨ SQL è³‡æ–™åº«ä¸­

å¤§å‹èªè¨€æ¨¡å‹çš„å‡ºç¾ï¼Œè®“ä½¿ç”¨è‡ªç„¶èªè¨€èˆ‡ SQL è³‡æ–™åº«äº’å‹•æˆç‚ºå¯èƒ½ã€‚

å…¶ä¸­ï¼ŒLangChain æä¾› SQL éˆå’Œä»£ç†ï¼Œä»¥åŸºæ–¼è‡ªç„¶èªè¨€æç¤ºå»ºç«‹å’ŒåŸ·è¡Œ SQL æŸ¥è©¢ã€‚

é€™äº›èˆ‡ SQLAlchemy æ”¯æ´çš„ä»»ä½• SQL ç›´æ¥ç›¸å®¹ï¼ˆä¾‹å¦‚ï¼ŒMySQLã€PostgreSQLã€Oracle SQLã€Databricksã€SQLiteï¼‰ã€‚

LangChain å¯ç”¨æ–¼ä»¥ä¸‹ä½¿ç”¨æ¡ˆä¾‹ï¼š
- æ ¹æ“šè‡ªç„¶èªè¨€å•é¡Œç”¢ç”Ÿå°‡åŸ·è¡Œçš„æŸ¥è©¢
- å»ºç«‹å¯æ ¹æ“šè³‡æ–™åº«è³‡æ–™å›ç­”å•é¡Œçš„èŠå¤©æ©Ÿå™¨äºº

# å¿«é€Ÿå…¥é–€

## å»ºç½®ç’°å¢ƒ

é¦–å…ˆï¼Œå–å¾—å¿…è¦çš„å¥—ä»¶ä¸¦è¨­å®šç’°å¢ƒè®Šæ•¸ï¼š

In [ ]:
%pip install --upgrade --quiet langchain langchain-experimental langchain-openai

   â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 1.0/1.0 MB 15.9 MB/s eta 0:00:00
   â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 209.2/209.2 kB 14.9 MB/s eta 0:00:00
   â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 69.2/69.2 kB 5.9 MB/s eta 0:00:00
   â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2.5/2.5 MB 40.4 MB/s eta 0:00:00
   â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 438.9/438.9 kB 20.9 MB/s eta 0:00:00
   â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 45.2/45.2 kB 2.5 MB/s eta 0:00:00
   â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 50.9/50.9 kB 1.7 MB/s eta 0:00:00

æˆ‘å€‘éœ€è¦è¨­ç½® ç’°å¢ƒè®Šæ•¸ `OPENAI_API_KEY` ï¼Œå¯ä»¥ç›´æ¥å®Œæˆï¼Œå¦‚ä¸‹æ‰€ç¤ºï¼š

In [ ]:
import getpass
import os

os.environ["OPENAI_API_KEY"] = getpass.getpass()

Â·Â·Â·Â·Â·Â·Â·Â·Â·Â·

## å¦‚æœæ˜¯æ¡ç”¨ Gemini çš„è©±ï¼Œå¯ä»¥ä¿®æ­£æˆç‚ºä»¥ä¸‹å…§å®¹

https://python.langchain.com/docs/integrations/chat/google_generative_ai/

In [ ]:
!pip install --quiet langchain-google-genai

In [ ]:
from langchain_google_genai import ChatGoogleGenerativeAI
import os

# è¨­ç½® Gemini API Key
os.environ["GOOGLE_API_KEY"] = "ä½ çš„_Gemini_API_Key"

# åˆå§‹åŒ– Gemini æ¨¡å‹
llm = ChatGoogleGenerativeAI(
    model="gemini-2.0-flash",  # æˆ–å…¶ä»– Gemini æ¨¡å‹åç¨±ï¼Œä¾‹å¦‚ gemini-2.0-flash, gemini-1.5-flash
    temperature=0
)

##å»ºç½®è³‡æ–™åº«

ä»¥ä¸‹ç¯„ä¾‹å°‡ä½¿ç”¨èˆ‡ Chinook è³‡æ–™åº«çš„ SQLite é€£ç·šã€‚

ä¾ç…§å®‰è£æ­¥é©Ÿï¼Œåœ¨èˆ‡é€™å€‹ç­†è¨˜æœ¬ç›¸åŒçš„ç›®éŒ„ä¸­å»ºç«‹ Chinook.db ï¼š

* `å®‰è£ sqlite3` å¥—ä»¶æ–¼ç’°å¢ƒä¸­
* `ä½¿ç”¨ sqlite3 æŒ‡ä»¤` è®€å–å…§å»º DB

ç¾åœ¨ï¼Œ Chinhook.db åœ¨æˆ‘å€‘çš„ç›®éŒ„ä¸­ã€‚

è®“æˆ‘å€‘å»ºç«‹ä¸€å€‹ SQLDatabaseChain ä¾†å»ºç«‹å’ŒåŸ·è¡Œ SQL æŸ¥è©¢ã€‚

è¦æ˜¯ä¸ç¢ºå®šçš„è©±ï¼Œå¯ä»¥çœ‹ [SQL Tutorial](https://www.sqlitetutorial.net/sqlite-sample-database/)ä¾†äº†è§£æŒ‡ä»¤æ“ä½œï¼Œé‚„æœ‰è³‡æ–™åº«ä¸­éƒ½è£äº†ä»€éº¼

In [ ]:
!apt-get install --upgrade --quiet sqlite3
!wget https://raw.githubusercontent.com/lerocha/chinook-database/master/ChinookDatabase/DataSources/Chinook_Sqlite.sql
!sqlite3 Chinook.db '.read Chinook_Sqlite.sql'

Reading package lists...
Building dependency tree...
Reading state information...
Suggested packages:
  sqlite3-doc
The following NEW packages will be installed:
  sqlite3
0 upgraded, 1 newly installed, 0 to remove and 35 not upgraded.
Need to get 769 kB of archives.
After this operation, 1,873 kB of additional disk space will be used.
Get:1 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 sqlite3 amd64 3.37.2-2ubuntu0.4 [769 kB]
Fetched 769 kB in 0s (3,303 kB/s)
Selecting previously unselected package sqlite3.
(Reading database ... 126308 files and directories currently installed.)
Preparing to unpack .../sqlite3_3.37.2-2ubuntu0.4_amd64.deb ...
Unpacking sqlite3 (3.37.2-2ubuntu0.4) ...
Setting up sqlite3 (3.37.2-2ubuntu0.4) ...
Processing triggers for man-db (2.10.2-1) ...
--2025-06-24 04:59:46--  https://raw.githubusercontent.com/lerocha/chinook-database/master/ChinookDatabase/DataSources/Chinook_Sqlite.sql
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 611447 (597K) [text/plain]
Saving to: â€˜Chinook_Sqlite.sqlâ€™

Chinook_Sqlite.sql  100%[===================>] 597.12K  --.-KB/s    in 0.05s

2025-06-24 04:59:46 (10.9 MB/s) - â€˜Chinook_Sqlite.sqlâ€™ saved [611447/611447]

## å»ºç«‹èªè¨€æ¨¡å‹ pipe

é€™å€‹ç’°ç¯€ä¸­ï¼Œæˆ‘å…ˆæŒ‡å®šèªè¨€æ¨¡å‹ç‚º OPEANAI model
æ¥è‘—å»ºç«‹ SQLDBChain ä¾†é€²è¡Œæ“ä½œã€‚

In [ ]:
from langchain_community.utilities import SQLDatabase
from langchain_experimental.sql import SQLDatabaseChain
from langchain_openai import OpenAI

db = SQLDatabase.from_uri("sqlite:///Chinook.db")
llm = OpenAI(temperature=0, verbose=True)
db_chain = SQLDatabaseChain.from_llm(llm, db, verbose=True)

æ¥è‘—å¯ä»¥ä½¿ç”¨ Chain é€éèªè¨€æ¨¡å‹ä¾†è·Ÿè³‡æ–™åº«é€²è¡Œå°è©±

In [ ]:
query_response = db_chain.run("How many employes inside?")
print(query_response)

> Entering new SQLDatabaseChain chain...
How many employes inside?
SQLQuery:SELECT COUNT(*) FROM Employee
SQLResult: [(8,)]
Answer:There are 8 employees in the database.
> Finished chain.
There are 8 employees in the database.


### æƒ³äº†è§£æ›´å¤šï¼Ÿ

å¥½å¥‡çŸ¥é“é‚„æœ‰å“ªäº›è¡¨æ ¼è¡Œè³‡æ–™å¯ä»¥è®€å–çš„è©±ï¼Œå¯ä»¥åƒè€ƒ Langchain ç•¶ä¸­çš„æ–‡ä»¶ï¼Œä¾‹å¦‚

- [è®€å– CSV æª”æ¡ˆ](https://python.langchain.com/docs/integrations/toolkits/csv)
- [è®€å– Pandas DAtaFrame](https://python.langchain.com/docs/integrations/toolkits/pandas)

## æ¡ˆä¾‹ã„§: Text-to-SQL

In [ ]:
from langchain.chains import create_sql_query_chain
from langchain_openai import ChatOpenAI

è®“æˆ‘å€‘å»ºç«‹å°‡å»ºæ§‹ SQL æŸ¥è©¢çš„éˆï¼š

In [ ]:
chain = create_sql_query_chain(ChatOpenAI(temperature=0), db)
response = chain.invoke({"question": "How many employees are there"})
print(response)

SELECT COUNT("EmployeeId") AS "TotalEmployees" FROM "Employee"

åœ¨æ ¹æ“šä½¿ç”¨è€…å•é¡Œå»ºæ§‹ SQL æŸ¥è©¢å¾Œï¼Œæˆ‘å€‘å¯ä»¥åŸ·è¡ŒæŸ¥è©¢ï¼š

In [ ]:
db.run(response)

'[(8,)]'

æ­£å¦‚æˆ‘å€‘æ‰€è¦‹ï¼ŒSQL æŸ¥è©¢å»ºæ§‹å™¨éˆåª*å»ºç«‹æŸ¥è©¢*ï¼Œè€Œæˆ‘å€‘åˆ†åˆ¥è™•ç†æŸ¥è©¢åŸ·è¡Œã€‚

### å»ºç«‹ Prompt

In [ ]:
from langchain.prompts import PromptTemplate

TEMPLATE = """Given an input question, first create a syntactically correct {dialect} query to run, then look at the results of the query and return the answer.
Use the following format:

Question: "Question here"
SQLQuery: "SQL Query to run"
SQLResult: "Result of the SQLQuery"
Answer: "Final answer here"

Only use the following tables:

{table_info}.

Some examples of SQL queries that correspond to questions are:

{few_shot_examples}

Question: {input}"""

CUSTOM_PROMPT = PromptTemplate(
    input_variables=["input", "few_shot_examples", "table_info", "dialect"],
    template=TEMPLATE,
)

æˆ‘å€‘ä¹Ÿå¯ä»¥åœ¨ LangChain æç¤ºä¸­å¿ƒè¨ªå•æ­¤æç¤ºã€‚

In [ ]:
%pip install --upgrade --quiet langchainhub

In [ ]:
from langchain import hub

CUSTOM_PROMPT = hub.pull("rlm/text-to-sql")

## æ¡ˆä¾‹äºŒ: Text-to-SQL æŸ¥è©¢èˆ‡åŸ·è¡Œ

æˆ‘å€‘å¯ä»¥å¾ `langchain_experimental` å»ºç«‹ `SQLDatabaseChain`  ä¸¦åŸ·è¡Œ SQL æŸ¥è©¢ã€‚

In [ ]:
from langchain_experimental.sql import SQLDatabaseChain
from langchain_openai import OpenAI

llm = OpenAI(temperature=0, verbose=True)
db_chain = SQLDatabaseChain.from_llm(llm, db, verbose=True)

In [ ]:
db_chain.run("How many employees are there?")

> Entering new SQLDatabaseChain chain...
How many employees are there?
SQLQuery:SELECT COUNT(*) FROM Employee
SQLResult: [(8,)]
Answer:8
> Finished chain.

'8'

æ­£å¦‚æˆ‘å€‘æ‰€è¦‹ï¼Œæˆ‘å€‘ç²å¾—èˆ‡å‰ä¸€å€‹æ¡ˆä¾‹ç›¸åŒçš„çµæœã€‚

åœ¨é€™è£¡ï¼Œéˆä¹Ÿè™•ç†æŸ¥è©¢åŸ·è¡Œï¼Œä¸¦æ ¹æ“šä½¿ç”¨è€…å•é¡Œå’ŒæŸ¥è©¢çµæœæä¾›æœ€çµ‚ç­”æ¡ˆã€‚

**ä½¿ç”¨æ­¤æ–¹æ³•æ™‚è¦å°å¿ƒ**ï¼Œå› ç‚ºå®ƒå®¹æ˜“å—åˆ° `SQL Injection` çš„å½±éŸ¿ï¼š

* éˆæ­£åœ¨åŸ·è¡Œç”± LLM å»ºç«‹çš„æŸ¥è©¢ï¼Œä¸¦ä¸”æœªç¶“éé©—è­‰
* ä¾‹å¦‚ï¼Œè¨˜éŒ„å¯èƒ½æœƒç„¡æ„ä¸­å»ºç«‹ã€ä¿®æ”¹æˆ–åˆªé™¤_



é€™å°±æ˜¯æˆ‘å€‘çœ‹åˆ° `SQLDatabaseChain` åœ¨ `langchain_experimental` å…§éƒ¨çš„åŸå› ã€‚

### å˜—è©¦æ›´å¤šï¼Ÿ

å¯ä»¥é€šéå¤šç¨®æ–¹å¼å¢å¼· SQLDatabaseChain çš„æ€§èƒ½ï¼š

* Adding sample rows æ·»åŠ ç¯„ä¾‹åˆ—
* æŒ‡å®šè‡ªè¨‚è¡¨æ ¼è³‡è¨Š
*  ä½¿ç”¨ Query Checker è‡ªè¡Œæ›´æ­£ä½¿ç”¨åƒæ•¸ use_query_checker=True çš„ç„¡æ•ˆ SQL
* è‡ªè¨‚ LLM æç¤ºåŒ…å«ç‰¹å®šèªªæ˜æˆ–ç›¸é—œè³‡è¨Šï¼Œä½¿ç”¨åƒæ•¸ prompt=CUSTOM_PROMPT
* å–å¾—ä¸­é–“æ­¥é©Ÿä½¿ç”¨åƒæ•¸ return_intermediate_steps=True å­˜å– SQL é™³è¿°å¼ä»¥åŠæœ€çµ‚çµæœ
* é™åˆ¶æŸ¥è©¢å°‡å‚³å›çš„è¡Œæ•¸ï¼Œä½¿ç”¨åƒæ•¸ top_k=5

åœ¨è³‡æ–™åº«ä¸­çš„è¡¨æ ¼æ•¸ç›®å¾ˆå¤§çš„æƒ…æ³ä¸‹ï¼Œæ‚¨å¯èƒ½æœƒç™¼ç¾ SQLDatabaseSequentialChain å¾ˆå¯¦ç”¨ã€‚
é€™å€‹ Sequential Chain è™•ç†ä»¥ä¸‹ç¨‹åºï¼š

1. æ ¹æ“šä½¿ç”¨è€…å•é¡Œæ±ºå®šè¦ä½¿ç”¨å“ªäº›è¡¨æ ¼
2. åƒ…ä½¿ç”¨ç›¸é—œè¡¨æ ¼å‘¼å«ä¸€èˆ¬ SQL è³‡æ–™åº«éˆ

In [ ]:
db = SQLDatabase.from_uri(
    "sqlite:///Chinook.db",
    include_tables=[
        "Track"
    ],  # we include only one table to save tokens in the prompt :)
    sample_rows_in_table_info=2,
)

ç¯„ä¾‹è³‡æ–™åˆ—æœƒåœ¨æ¯å€‹å°æ‡‰è¡¨æ ¼çš„æ¬„ä½è³‡è¨Šä¹‹å¾ŒåŠ å…¥ prompt ä¸­ã€‚

æˆ‘å€‘å¯ä»¥ä½¿ç”¨ `db.table_info` ä¸¦æª¢æŸ¥å“ªäº›ç¯„ä¾‹è³‡æ–™åˆ—åŒ…å«åœ¨å…§ï¼š

In [ ]:
print(db.table_info)

CREATE TABLE "Track" (
	"TrackId" INTEGER NOT NULL,
	"Name" NVARCHAR(200) NOT NULL,
	"AlbumId" INTEGER,
	"MediaTypeId" INTEGER NOT NULL,
	"GenreId" INTEGER,
	"Composer" NVARCHAR(220),
	"Milliseconds" INTEGER NOT NULL,
	"Bytes" INTEGER,
	"UnitPrice" NUMERIC(10, 2) NOT NULL,
	PRIMARY KEY ("TrackId"),
	FOREIGN KEY("MediaTypeId") REFERENCES "MediaType" ("MediaTypeId"),
	FOREIGN KEY("GenreId") REFERENCES "Genre" ("GenreId"),
	FOREIGN KEY("AlbumId") REFERENCES "Album" ("AlbumId")
)

/*
2 rows from Track table:
TrackId	Name	AlbumId	MediaTypeId	GenreId	Composer	Milliseconds	Bytes	UnitPrice
1	For Those About To Rock (We Salute You)	1	1	1	Angus Young, Malcolm Young, Brian Johnson	343719	11170334	0.99
2	Balls to the Wall	2	2	1	U. Dirkschneider, W. Hoffmann, H. Frank, P. Baltes, S. Kaufmann, G. Hoffmann	342562	5510424	0.99
*/

## æ¡ˆä¾‹ä¸‰: SQL agents

LangChain æœ‰ä¸€å€‹ SQL Agentï¼Œå®ƒæä¾›æ¯” `SQLDatabaseChain`æ›´éˆæ´»çš„æ–¹å¼èˆ‡ SQL è³‡æ–™åº«äº’å‹•ã€‚

ä½¿ç”¨ SQL Agent çš„ä¸»è¦å„ªé»æ˜¯ï¼š

å®ƒå¯ä»¥æ ¹æ“šè³‡æ–™åº«çš„çµæ§‹ä»¥åŠè³‡æ–™åº«çš„å…§å®¹ï¼ˆä¾‹å¦‚æè¿°ç‰¹å®šè¡¨æ ¼ï¼‰ä¾†å›ç­”å•é¡Œ

å®ƒå¯ä»¥é€éåŸ·è¡Œç”¢ç”Ÿçš„æŸ¥è©¢ã€æ“·å–è¿½è¹¤ä¸¦æ­£ç¢ºåœ°é‡æ–°ç”¢ç”ŸæŸ¥è©¢ï¼Œä¾†å¾éŒ¯èª¤ä¸­å¾©åŸ

è¦åˆå§‹åŒ–ä»£ç†ï¼Œæˆ‘å€‘ä½¿ç”¨ `create_sql_agent` å‡½æ•¸ã€‚

æ­¤ Agent åŒ…å« `SQLDatabaseToolkit` ï¼Œå…¶ä¸­åŒ…å«ä¸‹åˆ—å·¥å…·ï¼š

* å»ºç«‹ä¸¦åŸ·è¡ŒæŸ¥è©¢
* æª¢æŸ¥æŸ¥è©¢èªæ³•
* æ“·å–è¡¨æ ¼èªªæ˜

In [ ]:
from langchain.agents import create_sql_agent

# from langchain.agents import AgentExecutor
from langchain.agents.agent_types import AgentType
from langchain_community.agent_toolkits import SQLDatabaseToolkit

db = SQLDatabase.from_uri("sqlite:///Chinook.db")

agent_executor = create_sql_agent(
    llm=OpenAI(temperature=0),
    toolkit=SQLDatabaseToolkit(db=db, llm=OpenAI(temperature=0)),
    verbose=True,
    agent_type=AgentType.ZERO_SHOT_REACT_DESCRIPTION,
)

### Agent ä»»å‹™ç¤ºç¯„ #1 - åŸ·è¡ŒæŸ¥è©¢

In [ ]:
agent_executor.run(
    "Which country's customers spent the most?"
)

> Entering new SQL Agent Executor chain...
Action: sql_db_list_tables
Action Input: Album, Artist, Customer, Employee, Genre, Invoice, InvoiceLine, MediaType, Playlist, PlaylistTrack, Track I should query the Customer and Invoice tables to get the customer's country and the amount spent.
Action: sql_db_schema
Action Input: Customer, Invoice
CREATE TABLE "Customer" (
	"CustomerId" INTEGER NOT NULL,
	"FirstName" NVARCHAR(40) NOT NULL,
	"LastName" NVARCHAR(20) NOT NULL,
	"Company" NVARCHAR(80),
	"Address" NVARCHAR(70),
	"City" NVARCHAR(40),
	"State" NVARCHAR(40),
	"Country" NVARCHAR(40),
	"PostalCode" NVARCHAR(10),
	"Phone" NVARCHAR(24),
	"Fax" NVARCHAR(24),
	"Email" NVARCHAR(60) NOT NULL,
	"SupportRepId" INTEGER,
	PRIMARY KEY ("CustomerId"),
	FOREIGN KEY("SupportRepId") REFERENCES "Employee" ("EmployeeId")
)

/*
3 rows from Customer table:
CustomerId	FirstName	LastName	Company	Address	City	State	Country	PostalCode	Phone	Fax	Email	SupportRepId
1	LuÃ­s	GonÃ§alves	Embraer - Empresa Brasileira de AeronÃ¡utica S.A.	Av. Brigadeiro Faria Lima, 2170	SÃ£o JosÃ© dos Campos	SP	Brazil	12227-000	+55 (12) 3923-5555	+55 (12) 3923-5566	luisg@embraer.com.br	3
2	Leonie	KÃ¶hler	None	Theodor-Heuss-StraÃŸe 34	Stuttgart	None	Germany	70174	+49 0711 2842222	None	leonekohler@surfeu.de	5
3	FranÃ§ois	Tremblay	None	1498 rue BÃ©langer	MontrÃ©al	QC	Canada	H2G 1A7	+1 (514) 721-4711	None	ftremblay@gmail.com	3
*/


CREATE TABLE "Invoice" (
	"InvoiceId" INTEGER NOT NULL,
	"CustomerId" INTEGER NOT NULL,
	"InvoiceDate" DATETIME NOT NULL,
	"BillingAddress" NVARCHAR(70),
	"BillingCity" NVARCHAR(40),
	"BillingState" NVARCHAR(40),
	"BillingCountry" NVARCHAR(40),
	"BillingPostalCode" NVARCHAR(10),
	"Total" NUMERIC(10, 2) NOT NULL,
	PRIMARY KEY ("InvoiceId"),
	FOREIGN KEY("CustomerId") REFERENCES "Customer" ("CustomerId")
)

/*
3 rows from Invoice table:
InvoiceId	CustomerId	InvoiceDate	BillingAddress	BillingCity	BillingState	BillingCountry	BillingPostalCode	Total
1	2	2021-01-01 00:00:00	Theodor-Heuss-StraÃŸe 34	Stuttgart	None	Germany	70174	1.98
2	4	2021-01-02 00:00:00	UllevÃ¥lsveien 14	Oslo	None	Norway	0171	3.96
3	8	2021-01-03 00:00:00	GrÃ©trystraat 63	Brussels	None	Belgium	1000	5.94
*/ I should query the Invoice table to get the total amount spent by each customer, then join it with the Customer table to get the country.
Action: sql_db_query
Action Input: SELECT Customer.Country, SUM(Invoice.Total) AS TotalSpent FROM Customer JOIN Invoice ON Customer.CustomerId = Invoice.CustomerId GROUP BY Customer.Country ORDER BY TotalSpent DESC LIMIT 10[('USA', 523.0600000000003), ('Canada', 303.9599999999999), ('France', 195.09999999999994), ('Brazil', 190.09999999999997), ('Germany', 156.48), ('United Kingdom', 112.85999999999999), ('Czech Republic', 90.24000000000001), ('Portugal', 77.23999999999998), ('India', 75.25999999999999), ('Chile', 46.62)] I now know the final answer
Final Answer: USA

> Finished chain.

'USA'

### Agent ä»»å‹™ç¯„ä¾‹ #2 - æè¿°è¡¨æ ¼èˆ‡ Schema

In [ ]:
agent_executor.run("Describe the playlisttrack table")

> Entering new SQL Agent Executor chain...
Action: sql_db_list_tables
Action Input: Album, Artist, Customer, Employee, Genre, Invoice, InvoiceLine, MediaType, Playlist, PlaylistTrack, Track I should query the schema of the PlaylistTrack table.
Action: sql_db_schema
Action Input: PlaylistTrack
CREATE TABLE "PlaylistTrack" (
	"PlaylistId" INTEGER NOT NULL,
	"TrackId" INTEGER NOT NULL,
	PRIMARY KEY ("PlaylistId", "TrackId"),
	FOREIGN KEY("TrackId") REFERENCES "Track" ("TrackId"),
	FOREIGN KEY("PlaylistId") REFERENCES "Playlist" ("PlaylistId")
)

/*
3 rows from PlaylistTrack table:
PlaylistId	TrackId
1	3402
1	3389
1	3390
*/ I should query the first 10 rows from the PlaylistTrack table.
Action: sql_db_query
Action Input: SELECT * FROM PlaylistTrack LIMIT 10[(1, 3402), (1, 3389), (1, 3390), (1, 3391), (1, 3392), (1, 3393), (1, 3394), (1, 3395), (1, 3396), (1, 3397)] I now know the final answer
Final Answer: The PlaylistTrack table contains a list of tracks associated with each playlist.

> Finished chain.

'The PlaylistTrack table contains a list of tracks associated with each playlist.'

### Agent ä»»å‹™ç¯„ä¾‹ #3 - å°‹æ‰¾ä¸¦ä¿®æ­£åè©æ‹¼å¯«éŒ¯èª¤

ç‚ºäº†éæ¿¾åŒ…å«å°ˆæœ‰åè©ï¼ˆä¾‹å¦‚åœ°å€ã€æ­Œæ›²åç¨±æˆ–è—è¡“å®¶ï¼‰çš„æ¬„ï¼Œæˆ‘å€‘é¦–å…ˆéœ€è¦ä»”ç´°æª¢æŸ¥æ‹¼å¯«ï¼Œä»¥ä¾¿æ­£ç¢ºéæ¿¾æ•¸æ“šã€‚

æˆ‘å€‘å¯ä»¥é€šéä½¿ç”¨æ•¸æ“šåº«ä¸­å­˜åœ¨çš„æ‰€æœ‰ä¸åŒçš„å°ˆæœ‰åè©ä¾†å‰µå»ºå‘é‡å„²å­˜ä¾†å¯¦ç¾æ­¤ç›®çš„ã€‚ç„¶å¾Œï¼Œæˆ‘å€‘å¯ä»¥è®“ Agent åœ¨ä½¿ç”¨è€…åœ¨å•é¡Œä¸­åŒ…å«å°ˆæœ‰åè©æ™‚æŸ¥è©¢è©²å‘é‡å„²å­˜ï¼Œä»¥æ‰¾åˆ°è©²è©çš„æ­£ç¢ºæ‹¼å¯«ã€‚é€šéé€™ç¨®æ–¹å¼ï¼ŒAgent å¯ä»¥ç¢ºä¿åœ¨æ§‹å»ºç›®æ¨™æŸ¥è©¢ä¹‹å‰äº†è§£ä½¿ç”¨è€…æŒ‡çš„æ˜¯å“ªå€‹å¯¦é«”ã€‚

è®“æˆ‘å€‘æ¡ç”¨èˆ‡ Few-shot é¡ä¼¼çš„åšæ³•ï¼Œä½†æ²’æœ‰å…ƒæ•¸æ“šï¼šåƒ…åµŒå…¥å°ˆæœ‰åè©ï¼Œç„¶å¾ŒæŸ¥è©¢ä»¥ç²å–èˆ‡æ‹¼å¯«éŒ¯èª¤çš„ä½¿ç”¨è€…å•é¡Œæœ€ç›¸ä¼¼çš„å°ˆæœ‰åè©ã€‚

é¦–å…ˆï¼Œæˆ‘å€‘éœ€è¦æ¯å€‹æƒ³è¦å¯¦é«”çš„å”¯ä¸€å€¼ï¼Œæˆ‘å€‘å®šç¾©ä¸€å€‹å‡½æ•¸ï¼Œå°‡çµæœè§£ææˆå…ƒç´ æ¸…å–®ï¼š

In [ ]:
import ast
import re


def run_query_save_results(db, query):
    res = db.run(query)
    res = [el for sub in ast.literal_eval(res) for el in sub if el]
    res = [re.sub(r"\b\d+\b", "", string).strip() for string in res]
    return res


artists = run_query_save_results(db, "SELECT Name FROM Artist")
albums = run_query_save_results(db, "SELECT Title FROM Album")

ç¾åœ¨ï¼Œæˆ‘å€‘å¯ä»¥ç¹¼çºŒå»ºç«‹è‡ªè¨‚æª¢ç´¢å·¥å…·å’Œæœ€çµ‚ä»£ç†ï¼š

In [ ]:
!pip install --quiet faiss-cpu

   â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 31.3/31.3 MB 29.6 MB/s eta 0:00:00

In [ ]:
from langchain.tools.retriever import create_retriever_tool
from langchain_community.vectorstores import FAISS
from langchain_openai import OpenAIEmbeddings

texts = artists + albums

embeddings = OpenAIEmbeddings()
vector_db = FAISS.from_texts(texts, embeddings)
retriever = vector_db.as_retriever()

retriever_tool = create_retriever_tool(
    retriever,
    name="name_search",
    description="use to learn how a piece of data is actually written, can be from names, surnames addresses etc",
)

custom_tool_list = [retriever_tool]

In [ ]:
from langchain.agents import AgentType, create_sql_agent
from langchain_community.agent_toolkits import SQLDatabaseToolkit
from langchain_community.utilities import SQLDatabase
from langchain_openai import ChatOpenAI

# db = SQLDatabase.from_uri("sqlite:///Chinook.db")
llm = ChatOpenAI(model_name="gpt-4", temperature=0)

toolkit = SQLDatabaseToolkit(db=db, llm=llm)

custom_suffix = """
If a user asks for me to filter based on proper nouns, I should first check the spelling using the name_search tool.
Otherwise, I can then look at the tables in the database to see what I can query.
Then I should query the schema of the most relevant tables
"""

agent = create_sql_agent(
    llm=llm,
    toolkit=toolkit,
    verbose=True,
    agent_type=AgentType.OPENAI_FUNCTIONS,
    extra_tools=custom_tool_list,
    suffix=custom_suffix,
)

è®“æˆ‘å€‘å˜—è©¦ä¸€ä¸‹ï¼š

In [ ]:
agent.run("How many albums does alis in pains have?")

> Entering new SQL Agent Executor chain...

Invoking: `name_search` with `{'query': 'alis in pains'}`


House of Pain

Alice In Chains

Aisha Duo

House Of Pain
Invoking: `sql_db_list_tables` with `{}`
responded: The correct band name seems to be "Alice In Chains". Now I will check the tables in the database to see which one could contain the information about albums.

Album, Artist, Customer, Employee, Genre, Invoice, InvoiceLine, MediaType, Playlist, PlaylistTrack, Track
Invoking: `sql_db_schema` with `{'table_names': 'Album, Artist'}`
responded: The tables "Album" and "Artist" seem to be the most relevant for this query. I will now check their schemas to understand their structure and the relationships between them.


CREATE TABLE "Album" (
	"AlbumId" INTEGER NOT NULL,
	"Title" NVARCHAR(160) NOT NULL,
	"ArtistId" INTEGER NOT NULL,
	PRIMARY KEY ("AlbumId"),
	FOREIGN KEY("ArtistId") REFERENCES "Artist" ("ArtistId")
)

/*
3 rows from Album table:
AlbumId	Title	ArtistId
1	For Those About To Rock We Salute You	1
2	Balls to the Wall	2
3	Restless and Wild	2
*/


CREATE TABLE "Artist" (
	"ArtistId" INTEGER NOT NULL,
	"Name" NVARCHAR(120),
	PRIMARY KEY ("ArtistId")
)

/*
3 rows from Artist table:
ArtistId	Name
1	AC/DC
2	Accept
3	Aerosmith
*/
Invoking: `sql_db_query_checker` with `{'query': "SELECT COUNT(*) FROM Album JOIN Artist ON Album.ArtistId = Artist.ArtistId WHERE Artist.Name = 'Alice In Chains'"}`
responded: The "Album" table has a foreign key "ArtistId" that references the "ArtistId" in the "Artist" table. This means I can join these two tables on this column to find the albums by the artist "Alice In Chains". I will now construct the SQL query to find this information.

SELECT COUNT(*) FROM Album JOIN Artist ON Album.ArtistId = Artist.ArtistId WHERE Artist.Name = 'Alice In Chains'
Invoking: `sql_db_query` with `{'query': "SELECT COUNT(*) FROM Album JOIN Artist ON Album.ArtistId = Artist.ArtistId WHERE Artist.Name = 'Alice In Chains'"}`


[(1,)]The band "Alice In Chains" has 1 album in the database.

> Finished chain.

'The band "Alice In Chains" has 1 album in the database.'

æ­£å¦‚æˆ‘å€‘æ‰€è¦‹ï¼Œä»£ç†ä½¿ç”¨äº† `name_search` å·¥å…·ä¾†æª¢æŸ¥å¦‚ä½•æ­£ç¢ºåœ°é‡å°é€™å€‹ç‰¹å®šè—è¡“å®¶æŸ¥è©¢è³‡æ–™åº«ã€‚

### æƒ³äº†è§£æ›´å¤šï¼Ÿ

è‹¥è¦é€²ä¸€æ­¥äº†è§£ SQL ä»£ç†åŠå…¶é‹ä½œæ–¹å¼ï¼Œæˆ‘å€‘åƒé–± [SQL Agent Toolkit](/docs/integrations/toolkits/sql_database)æ–‡ä»¶ã€‚

æ‚¨ä¹Ÿå¯ä»¥é‡å°å…¶ä»–æ–‡ä»¶é¡å‹æŸ¥çœ‹ä»£ç†ï¼š
- [Pandas Agent](/docs/integrations/toolkits/pandas)
- [CSV Agent](/docs/integrations/toolkits/csv)